<!DOCTYPE html>
<html>

  {% include 'head.html' %}

  <body>

    {% include 'header.html' %}

    <div class="container">
    	<br>
		<h3 class="header">All Modules</h3>
	  	<div class="divider"></div>
		
        {% for module in modules %}
        	<h4>{{ module.name }}</h4>

			<table class="hoverable">
				<thead>
		          	<tr>
		            	<th data-field="class">Class</th>
		              	<th data-field="summary">Summary</th>
		          	</tr>
		        </thead>

		        <tbody>
		          	{% for class in module.classes %}
        				<tr>
		            		<td>
		            			<a href="{{ class.url }}">
		            				{{ class.name }}
		            			</a>
		            		</td>
		            		<td>
		            			{% if class.summary %}
		            				{{ class.summary }}
		            			{% else %}
									<i class="light">No description provided.</i>
								{% endif %}
		            		</td>
		          		</tr>
	            	{% endfor %}
		        </tbody>
		    </table>
		{% endfor %}
    </div>

    {% include "footer.html" %}

    <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>

  </body>

</html>
