<!DOCTYPE html>
<html>

  {% include 'head.html' %}

  <body>

    {% include 'header.html' %}

    <div class="container">
		<br>
		<h3 class="header">{{ class.name }}</h3>
	  	<div class="divider"></div>
		<br>

		{{ class.summary }} <a href="#description">More...</a>

		<blockquote>
			<code>{{ class.import }}</code>
		</blockquote>

		<h5>Properties and Methods</h5>
		
		<ul>
		{% for property in class.properties %}
			<li>
				<i class="tiny mdi-navigation-chevron-right" style="vertical-align: -8%"></i>
				<a href="#{{ property.id }}">{{ property.name }}</a>
			</li>
		{% endfor %}

		{% for method in class.methods %}
			<li>
				<i class="tiny mdi-navigation-chevron-right" style="vertical-align: -8%"></i>
				<a href="#{{ method.id }}">{{ method.name }}</a>
			</li>
		{% endfor %}
		</ul>

		<h4 id="description">Detailed Description</h4>
		<div class="divider"></div>

		{% if class.description %}
			{{ class.description }}
		{% else %}
			<i class="light">No description provided.</i>
		{% endif %}

		{% if class.properties|length > 0 %}
			<h4>Properties</h4>
			<div class="divider"></div>
		{% endif %}

		{% for property in class.properties %}

			<h5 id="{{ property.id }}">{{ property.name }}</h5>

			{% if property.description %}
				{{ property.description }}
			{% else %}
				<i class="light">No description provided.</i>
			{% endif %}
		{% endfor %}

		{% if class.methods|length > 0 %}
			<h4>Methods</h4>
			<div class="divider"></div>
		{% endif %}

		{% for method in class.methods %}

			<h5 id="{{ method.id }}">{{ method.name }}</h5>

			{% if method.description %}
				{{ method.description }}
			{% else %}
				<i class="light">No description provided.</i>
			{% endif %}
		{% endfor %}

		<br/>
    </div>

    {% include "footer.html" %}

    <script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/materialize.js"></script>

  </body>

</html>
